<div>{% if heading_title %}
 <h1 class="heading text-center"><span>{{ heading_title }}</span></h1>
  {% endif %}
  {{ html }}</div>

<script type="text/javascript">
(function($){
$("#testi").owlCarousel({
    itemsCustom : [
    [0, 1],
    [992, 1]
    ],
      autoPlay: false,
      navigationText: ['<i class="fa fa-angle-left"></i>', '<i class="fa fa-angle-right"></i>'],
      navigation : false,
      pagination:true
    });
    }(jQuery));

  </script>